body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Work Sans', sans-serif;
    
}
.container{
    width: 80%;
    margin: 0 auto;
}



/*----------------menu Section---------------- */
.menu-section{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    height: 50px;
    align-items: center;
}
.left-menu .logo-title{
    font-size: 26px;
    color: #3A3A3A;
}
nav > ul{
    display: flex;
    justify-content: right;

}
nav ul li{
    list-style: none;
    margin-right: 50px;
   
}
nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #3A3A3A;
    margin-right: 20px;

    font-weight: 500;
    
}

/*------------------------ close menu Section--------------- */
.headline-section{
    
    display: flex;
    height: 350px;
    align-items: center;
    margin-top: 50px;
}
.headline{}
.headline .headline-title{
    font-size: 52px;
    line-height: 70px;
    color: #3A3A3A;
    margin-bottom: 20px;
}
.headline p{
    font-size: 20px;
    line-height: 30px;
    color: #3A3A3A;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 30px;

}
.headline-image{
    background-image: url(images/Circle\ design.svg);
}
.headline-image img{
    height: 414px;
    width: 440px;
    transition: 3s;
    
}
.headline-image img:hover{
    transform: rotate(30deg);
}
.fas{
    margin-left: 10px;
    margin-top: 0px;
}


/* --------------Extera button Section ---------------*/
.Button{
    text-decoration: none;
    color: #fff;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 41px;
    margin-top: 10px;
}
.Button:hover{
    background-color: #FB8200;
    color: #fff;
}

/*------------------- Service section--------------- */
.service-section{
    margin-top: 200px;
}
.service-section .title{
    text-align: center;
    margin-bottom: 30px;
    color: #3A3A3A;
}

.services{}
.service{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    
    grid-row-gap: 40px;
    
}

.photo-tramnil{
   box-shadow: 0px 0px 5px black;
    width: 329px;
    padding-left: 20px;
    box-sizing: border-box;
    padding: 10px 13px;
    border-radius: 5px;
   
}
.service .photo-tramnil img{
    width: 300px;
    height: 256px;
}
span{
    font-size: 10px;
    color: #FB8200;

}
.star .price{
    margin-left: 20px;
    font-size: 16px;
    color: #5E6366;
    
}
.detals h2{
  color: #3A3A3A;
}
.star p{
    color: #787885;
}
.see-more{
    color: #E02C6D;
    text-align: right;
    padding: 20px;
    margin-right: 50px;

    

}
/* -------------------clouse service section----------- */
.trafic-section{
    margin-top: 150px;
    margin-bottom: 60px;
    
}
.trafic-section .title{
    font-size: 35px;
    text-align: center;
    color: #3A3A3A;
    
}
.trafic-detals{
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-column-gap: 40px;
   
    
}
.traffic{
    margin-top: 30px;
}


.traffic h1{
    color: #3A3A3A;
    font-size: 25px;
}
.traffic p{
    color: #5E6366;
    line-height: 25px;
}
/* ----------------footer section------------------ */
footer{
    height: 260px;
    background-color: #08090A;
    color: #fff;
    text-align: center;
    


    
}
.fab{
    background-color: #2D2F30;
    padding: 15px ;
    margin-right: 20px;
    border-radius: 50%;
    font-size: 20px;
}
footer h2{
    padding-top: 60px;
  
}
footer p{
    margin-bottom: 20px;
}



/* -------------Resposive css section ----------------*/

/*------------------- mobile device------------- */
@media (max-width: 656px){
    .menu-section{
        
        grid-template-columns: 1fr;
    
    }
    .headline-section{
        flex-direction: column;
        height: 650px;
        text-align: center; 
    }
    
    .headline-image img{
        height: 325px;
        width: 300px;
    }
    .headline-image{
        margin-top: 90px;
        background-size: cover;
    }
    .headline .headline-title{
        margin-top: 40px;
        font-size: 20px;
        color: #3A3A3A;
        text-align: center;
        
    }
    .headline p{
        font-size: 20px;
        line-height: 24px;
        color: #3A3A3A;
        max-width: 360px;
        text-align: center;
    
    }
    .service{
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .trafic-detals{
        grid-template-columns: 1fr;
    }
    .see-more{
        margin-right: 0px;
        padding-right: 0px;
       }
       nav ul{
           padding-left: 0px;
       }
   
}

 /*-------------------- trab devices----------------- */

@media (min-width: 657px) and (max-width: 910px){
    .service{
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        gap: 30px;
        
    }
    .trafic-detals{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 30px;
    }
    .menu-section{
        grid-template-columns: 1fr;
      
    }
    .headline-section{
        flex-direction: column;
        height: 650px;
        text-align: center; 
    }
    .headline p{
        width: 100%;
        line-height: 30px;
    }
    .headline-image{
        margin-top: 60px;
        margin-bottom: 60px;
    }
    .left-menu{
        text-align: center;
    }
    .see-more{
     margin-right: 0px;
     padding-right: 0px;
    }
    .service-section{
        margin-top: 300px;
    }

}
