body{
    margin: 0;
    padding: 0;
}
.container{
    width: 80%;
    margin: 0 auto;
}



/*menu Section */
nav > ul{
    display: flex;

}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
}
